body {
  font-family: sans-serif;
  margin: 20px;
}
.contenedor-tablas {
  display: flex;
  gap: 20px; /* espacio entre las tablas */
  justify-content: flex-start;
  margin-top: 20px;
  flex-wrap: wrap; /* Permite que bajen si no entran en una línea */
}
table {
  border-collapse: collapse;
  width: 220px;
  background-color: #fdfdfd;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
th {
  background-color: #eaeaea;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}
button:hover {
  background-color: #125a9c;
  color: white;
}
input {
  width: 90%;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#iefi {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
#ticket {
  font-size: 10px;
  margin-bottom: 20px;
  width: 250px;
  height: 100px;
}
